# ====================================================================
# 1. SISTEMA OPERATIVO Y EDITORES (Limpieza del Entorno Local)
# ====================================================================
.DS_Store
Thumbs.db
*.sw?
*.suo

# Configuraciones de editores e IDEs (IntelliJ, Eclipse, NetBeans)
.idea/
*.iws
*.iml
*.ipr
.vscode/
/nbproject/private/
/.nb-gradle/
.sts4-cache

# ====================================================================
# 2. ARCHIVOS DE LOGS Y TEMPORALES
# ====================================================================
*.log
logs/

# ====================================================================
# 3. COMPILADOS Y HERRAMIENTAS DE CONSTRUCCIÓN (Java / Maven)
# ====================================================================
HELP.md
*.class

# Carpetas de salida de compilación
target/
/target/
build/
/build/
/nbbuild/
/dist/
/nbdist/

# Archivos temporales y metadatos específicos de IDEs
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans

# ====================================================================
# 4. EXCEPCIONES EXPLICÍTAS
# ====================================================================
# Conservar el wrapper de Maven si lo usas para ejecutar ./mvnw spring-boot:run
!.mvn/wrapper/maven-wrapper.jar